body {
    transition: background-color 0.5s ease;
    font-family: 'Press Start 2P', cursive;
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.container {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"], input[type="number"], input[type="email"], input[name="message"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}
/* askdjhajhsda */

button {
    font-family: 'Press Start 2P', cursive;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #00f;
    color: #fff;
    cursor: pointer;
}
footer{
    background-color: gray;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}